[project]
	description = demo for SC CI & CD
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jagannathan S (sjagannathan)
[access "refs/for/refs/*"]
	read = group user/Jagannathan S (sjagannathan)
	push = group user/Jagannathan S (sjagannathan)
	label-Code-Review = -2..+2 group user/Jagannathan S (sjagannathan)
	label-Verified = -1..+1 group user/Jagannathan S (sjagannathan)
	rebase = group user/Jagannathan S (sjagannathan)
	removeReviewer = group user/Jagannathan S (sjagannathan)
	submit = group user/Jagannathan S (sjagannathan)
[access "refs/heads/*"]
	read = group user/Jagannathan S (sjagannathan)
	create = group user/Jagannathan S (sjagannathan)
	push = +force group user/Jagannathan S (sjagannathan)
	pushMerge = group user/Jagannathan S (sjagannathan)
[access "refs/tags/*"]
	push = +force group user/Jagannathan S (sjagannathan)
	pushTag = group user/Jagannathan S (sjagannathan)
	pushSignedTag = group user/Jagannathan S (sjagannathan)
